.curso-container {
  max-width: 75rem;
  padding: 20px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;
  position: relative;
}

.formacao .subtitulo {
  max-width: 5ch;
}

.curso-texto {
  max-width: 40ch;
  margin-bottom: 60px;
}

.curso-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.curso-c {
  flex: 1;
  background: var(--cor-1-box);
  padding: 1.25rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.curso-tipo {
  text-transform: uppercase;
}

.curso-cursos {
  flex: 1;
  position: relative;
}

@media (max-width: 800px) {
  .curso-container {
    grid-template-columns: 1fr;
    padding: 0.125rem 1.25rem;
    gap: 2.5rem;
  }
  .subtitulo {
    color: var(--cor-1);
  }
 
