.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.625rem 1.25rem;
  padding: 1.25rem;
  background: var(--cor-1-box);
  margin-bottom: 1.25rem;
  border-radius: 0.25rem;
  position: relative;
}

.empresa-ano {
  position: absolute;
  top: 1.375rem;
  left: -6.25rem;
  text-align: right;
  width: 5rem;
  font-size: 0.875rem;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  align-content: start;
}

.empresa-habilidades li {
  border-radius: 0.25rem;
  background: var(--cor-0);
  padding: 0.3125rem 0.625rem;
}

@media (max-width: 800px) {
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
