.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia-texto {
  /*   font-size: 1.5rem;
  line-height: 1.33; */
  max-width: 40ch;
  margin-bottom: 60px;
  color: var(--cor-1-s);
}
/* 
.experiencia-texto strong {
  color: var(--cor-1);
} */

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: var(--clr-black);
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  /* .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  } */
}
/* 
@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
} */
