.footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: capitalize;
  background: var(--cor-bg-grad);
}

.footer-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.footer-icons__icon {
  margin-right: 1.6rem;
  transition: var(--transition);
}

.footer-icons__icon:hover {
  color: var(--cor-bg);
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* color: var(--clr-white); */
  padding: 1rem;
  /*   font-size: 1.3rem; */
}
/* 
.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
} */
/* 
.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
} */
/* 
.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 30px;
} */
/* 
.footer-contato li a {
  color: var(--cor-0);
}
 */
/* .footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
} */

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}

/**********************************/
/* Footer
/**********************************/
