* *,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background: var(--cor-2);
}

h1,
h2,
h3,
p {
  margin: 0px;
}
a {
  text-decoration: none;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.subtitulo {
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
  /*  color: var(--cor-1-x); */
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 2rem !important;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
